#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,3,7,0
 PRODUCTVERSION 0,3,7,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Nightingale Silence"
            VALUE "FileDescription", "Transparent RGBA capture addon for FINAL FANTASY XIV"
            VALUE "FileVersion", "0.3.7.0"
            VALUE "InternalName", "NS_AlphaCapture"
            VALUE "LegalCopyright", "Copyright (C) 2026 Nightingale Silence"
            VALUE "OriginalFilename", "NS_AlphaCapture.addon64"
            VALUE "ProductName", "NS Alpha Capture"
            VALUE "ProductVersion", "0.3.7"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
